body {
    min-width: 1224px;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Source Code Pro', monospace;
    background: #ff0000;
    background: radial-gradient(circle farthest-corner at center center, #00c8ff 0%, #007f9d 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #00c8ff 0%, #007f9d 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #00c8ff 0%, #007f9d 80%);
}

/* .desenharLinhas {
    border-bottom: solid 4px #fbff1c;
    width: 30px;
    margin: 10px;
} */

#titulo {
    font-family: 'Inter Tight', sans-serif;
    font-size: 80px;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
}

#descricao {
    font-family: 'Inter Tight', sans-serif;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom: 20px;
    padding-top: 20px;
}

.categorias {
    position: absolute;
    width: auto;
	/* margin: 0 auto; */
	padding-top: 50px;
    /* position: absolute; */
    /* justify-content: center; */
    text-align: center;
    height: 570px;
}

.categorias li {
    list-style-type: none;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    /* display: flex; */
	/* text-align: center; */
    align-content: space-between;
    /* position: absolute; */
    display: inline-block;
	text-align: center;
	/* width: 30%; */
	/* vertical-align: top; */
	/* margin: 0 1.5%; */
    padding: 40px;
}

.btn-animais, .btn-comidas, .btn-esportes, .btn-hobbies, .btn-profissoes, .btn-todas {
    width: 330px;
    height: 150px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 22px;
    cursor: pointer;
    background-color: #fffce8;
    color: #000000;
    transition: 400ms;
    border: solid #000000;
}

.btn-animais {
    background-image: url("./imagens/animais.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-comidas {
    background-image: url("./imagens/comidas.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-esportes {
    background-image: url("./imagens/esportes.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-hobbies {
    background-image: url("./imagens/hobbies.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-profissoes {
    background-image: url("./imagens/profissoes.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-todas {
    background-image: url("./imagens/todas.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-adicionar {
    display: flex;
    display: inline-block;
    /* flex-direction: row; */
    /* align-items: stretch; */
    /* padding: 28px; */
    /* position: absolute; */
    width: 600px;
    height: 70px;
    background: #073468;
    border-radius: 40px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 22px;
    /* display: flex; */
    /* justify-content: center; */
    color: #ffffff;
    cursor: pointer;
    margin-top: 50px;
    transition: 400ms;
}

.btn-animais:hover, .btn-comidas:hover, .btn-esportes:hover, .btn-hobbies:hover, .btn-profissoes:hover, .btn-todas:hover {
    color: #FFFFFF;
    letter-spacing: 3px;
    border: 1px solid #ffffff;
    font-style: italic;
    transform: scale(1.1);
    box-shadow: 0px 0px 100px 4px rgba(255, 255, 255, 0.49);
    -webkit-box-shadow: 0px 0px 100px 4px rgba(255,255,255,0.49);
    -moz-box-shadow: 0px 0px 100px 4px rgba(255,255,255,0.49);
}

.btn-animais:hover {
    background-image: url("./imagens/animais-transparente.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-comidas:hover {
    background-image: url("./imagens/comidas-transparente.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-esportes:hover {
    background-image: url("./imagens/esportes-transparente.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-hobbies:hover {
    background-image: url("./imagens/hobbies-transparente.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-profissoes:hover {
    background-image: url("./imagens/profissoes-transparente.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-todas:hover {
    background-image: url("./imagens/todas-transparente.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-adicionar:hover {
    background-color: #fffce8;
    color: #000000;
    font-style: italic;
    transform: scale(1.1);
}

.logo {
    position: absolute;
    left: 50px;
    right: 37.43%;
    top: 50px;
    bottom: 0%;
    width: 50px;
    height:50px;
}

.avisos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: auto;
    height: 18px;
    left: 2rem;
    top: 41rem;
}

.div-botoes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 680px;
    height: 67px;
    left: 0;
    top: 43rem;
}

.btn-salvar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
  
    position: static;
    width: 328px;
    height: 67px;
    left: 0px;
    top: 0px;
  
    background: #0A3871;
    border-radius: 24px;
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    flex-grow: 0;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 19px;
    justify-content: center; 
}

.btn-tela-inicial {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
  
    position: static;
    width: 328px;
    height: 67px;
    left: 352px;
    top: 0px;
  
    /* Light gray */
  
    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */
  
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
  
    /* Inside Auto Layout */
  
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
  
    color: #0A3871;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 19px;
    justify-content: center;
}

.btn-iniciar {
    /* display: flex; */
    flex-direction: row;
    /* align-items: stretch; */
    padding: 24px;
    /* position: absolute; */
    width: 550px;
    height: 60px;
    background: #0A3871;
    border-radius: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 22px;
    /* display: flex; */
    /* justify-content: center; */
    color: #FFFFFF;
    cursor: pointer;
}

.canvas {
    /*margin-left: 2.5rem;*/
    /* width: 1024px; */
    /* height:800px; */
}

#forca {
    /* border:1px solid #000000; */
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: flex-start; */
    /* position: absolute; */
    /* left: -596px; */
    /* top: -56px; */
}

.teclado {
    display: none;
    flex-direction: column;
    position: relative;
    top: -115px;
    align-items: center;
    margin: 1px;

}

.linha-1, .linha-2, .linha-3 {
    margin: 3px;
}

.teclado button {
    font-size: 18px;
    width: 40px;
    text-transform: uppercase;
    padding: 10px;
    margin: 3px 5px;
    border-radius: 10px;
}

.teclado button:hover {
   background: lightsalmon;
   transform: scale(1.1);
}

.novo-jogo {
    display: flex;
    /* justify-content: center; */
    margin-left: 112px;
    margin-bottom: 70px;
}

.btn-novo-jogo {
    display: flex;
    display: inline-block;
    /* flex-direction: row; */
    /* align-items: stretch; */
    /* padding: 28px; */
    /* position: absolute; */
    width: 250px;
    height: 55px;
    background: #082d7e;
    border: 1px solid #000000;
    border-radius: 35px;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 22px;
    /* display: flex; */
    /* justify-content: center; */
    color: #FFFFFF;
    cursor: pointer;
    /* margin-top: -100px; */
    transition: 400ms;
    
    /* display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
  
    position: static;
    width: 328px;
    height: 67px;
    left: 0px;
    top: 0px;
  
    background: #0A3871;
    border-radius: 24px;
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    flex-grow: 0;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 19px;
    justify-content: center; 
    cursor: pointer;     */
}

.btn-novo-jogo:hover {
    background-color: #fffce8;
    color: #000000;
    font-style: italic;
    transform: scale(1.1);
}

.botoes-home {
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left:42rem;*/
}

.adicionar-palavra {
    position: absolute;
    left: 30rem;
}

#div-fim-de-jogo {
    display: flex;
    width: 900px;
    height: 500px;
    color: red;
    font-size: 40px;
    font-weight: bold;
    /*background-image: url("imagens/Rec.png");*/
    position: absolute;
    top: 400px;
    opacity: 0.5;
}

footer {
    font-family: 'Inter Tight', sans-serif;
    letter-spacing: 3.5px;
    color: white;
    text-align: center;
    background: black;
    padding: 25px 0;
    border-top: 0.4px solid white;
}

footer p {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
}

.links {
    position: relative;
}

.links a {
    display: inline;
    margin: 0 12px 0 12px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
	/* .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	} */
    
    #titulo {
        font-family: 'Inter Tight', sans-serif;
        font-size: 80px;
        letter-spacing: 6px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 30px;
    }
    
    #descricao {
        font-family: 'Inter Tight', sans-serif;
        font-size: 27px;
        font-weight: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        bottom: 20px;
        padding-top: 20px;
    }

    .categorias {
        position: absolute;
        width: auto;
        /* margin: 0 auto; */
        padding-top: 50px;
        /* position: absolute; */
        /* justify-content: center; */
        text-align: center;
        height: 570px;
    }
    
    .categorias li {
        list-style-type: none;
        /* flex-wrap: wrap; */
        justify-content: space-around;
        /* display: flex; */
        /* text-align: center; */
        align-content: space-between;
        /* position: absolute; */
        display: inline-block;
        text-align: center;
        /* width: 30%; */
        /* vertical-align: top; */
        /* margin: 0 1.5%; */
        padding: 40px;
    }
    
    .btn-animais, .btn-comidas, .btn-esportes, .btn-hobbies, .btn-profissoes, .btn-todas {
        width: 330px;
        height: 150px;
        border-radius: 40px;
        font-weight: 600;
        font-size: 24px;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 22px;
        cursor: pointer;
        background-color: #fffce8;
        color: #000000;
        transition: 400ms;
        border: solid #000000;
    }
    
    .btn-animais {
        background-image: url("./imagens/animais.png");
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .btn-comidas {
        background-image: url("./imagens/comidas.png");
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .btn-esportes {
        background-image: url("./imagens/esportes.png");
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .btn-hobbies {
        background-image: url("./imagens/hobbies.png");
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .btn-profissoes {
        background-image: url("./imagens/profissoes.png");
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .btn-todas {
        background-image: url("./imagens/todas.png");
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .btn-adicionar {
        display: flex;
        display: inline-block;
        /* flex-direction: row; */
        /* align-items: stretch; */
        /* padding: 28px; */
        /* position: absolute; */
        width: 600px;
        height: 70px;
        background: #073468;
        border-radius: 40px;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        line-height: 22px;
        /* display: flex; */
        /* justify-content: center; */
        color: #ffffff;
        cursor: pointer;
        margin-top: 30px;
        transition: 400ms;
    }
    
    
}