body {
    min-width: 1224px;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
    background: #acacac;
    background: linear-gradient(90deg,#acacac 0%, #d6e2d6 50%);
    background: -webkit-linear-gradient(90deg,#acacac 0%, #d6e2d6 50%);
    background: -moz-linear-gradient(90deg,#acacac 0%, #d6e2d6 50%);
}

.sublinhado {
    display: flex;
}

.desenharLinhas {
    border-bottom: solid 4px #0A3871;
    width: 30px;
    margin: 10px;
}

.esconderLetra {
    
}

#titulo {
    position: relative;
    right: 300px;
    bottom: 10px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-family: 'Inter Tight', sans-serif;
    font-size: 70px;
}

#descricao {
    position: relative;
    right: 215px;
    bottom: 40px;
    letter-spacing: 2px;
    font-family: 'Inter Tight', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.btn-animais, .btn-comidas, .btn-esportes, .btn-hobbies, .btn-profissoes, .btn-todas {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 24px;
    position: absolute;
    width: 317px;
    height: 114px;
    background: #0A3871;
    border-radius: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-animais {
    right: 840px;
    top: 300px;
}

.btn-comidas {
    right: 400px;
    top: 300px;
}

.btn-esportes {
    left: 290px;
    top: 300px;
}

.btn-hobbies {
    right: 840px;
    top: 500px;
}

.btn-profissoes {
    right: 400px;
    top: 500px;
}

.btn-todas {
    left: 290px;
    top: 500px;
}

.logo {
    position: absolute;
    left: 50px;
    right: 37.43%;
    top: 50px;
    bottom: 0%;
    width: 50px;
    height:50px;
}

.canvas {
    /*margin-left: 2.5rem;*/
    width: 1024px;
    height:800px;
}

#forca {
    /*display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    left: -596px;
    top: -86px;*/
}

.botoes-home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left:42rem;
}

#div-fim-de-jogo {
    display: flex;
    width: 900px;
    height: 500px;
    color: red;
    font-size: 40px;
    font-weight: bold;
    /*background-image: url("imagens/Rec.png");*/
    position: absolute;
    top: 400px;
    opacity: 0.5;
}

footer {
    letter-spacing: 3.5px;
    color: white;
    text-align: center;
    background: black;
    padding: 25px 0;
    
    border-top: 0.4px solid white;
}

footer p {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
}

.links {
    position: relative;
}

.links a {
    display: inline;
    margin: 0 12px 0 12px;
    cursor: pointer;
}