body {
    min-width: 1224px;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Source Code Pro', monospace;
    background: #00c8ff;
    background: radial-gradient(circle farthest-corner at center center, #00c8ff 0%, #007f9d 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #00c8ff 0%, #007f9d 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #00c8ff 0%, #007f9d 80%);
}

#titulo {
    font-family: 'Inter Tight', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    padding-top: 30px;
}

#descricao {
    font-family: 'Inter Tight', sans-serif;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom: 20px;
    padding-top: 20px;
}

.categorias {
    /* position: absolute; */
    width: auto;
    padding: 50px 0 40px 0;
    text-align: center;
    height: 570px;
}

.categorias li {
    list-style-type: none;
    justify-content: space-around;
    align-content: space-between;
    display: inline-block;
    text-align: center;
    padding: 40px;
}

.btn-animais, .btn-comidas, .btn-esportes, .btn-hobbies, .btn-profissoes, .btn-todas {
    width: 330px;
    height: 150px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 22px;
    cursor: pointer;
    background-color: #fffce8;
    color: #000000;
    border: solid #000000;
    transition: 400ms;
}

.btn-animais {
    background-image: url("./imagens/animais.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-comidas {
    background-image: url("./imagens/comidas.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-esportes {
    background-image: url("./imagens/esportes.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-hobbies {
    background-image: url("./imagens/hobbies.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-profissoes {
    background-image: url("./imagens/profissoes.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-todas {
    background-image: url("./imagens/todas.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-adicionar {
    display: flex;
    display: inline-block;
    width: 600px;
    height: 70px;
    background: #073468;
    border-radius: 40px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 22px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
    transition: 400ms;
}

.btn-animais:hover, .btn-comidas:hover, .btn-esportes:hover, .btn-hobbies:hover, .btn-profissoes:hover, .btn-todas:hover {
    color: #FFFFFF;
    letter-spacing: 3px;
    border: 1px solid #ffffff;
    font-style: italic;
    transform: scale(1.1);
    box-shadow: 0px 0px 100px 4px rgba(255, 255, 255, 0.49);
    -webkit-box-shadow: 0px 0px 100px 4px rgba(255,255,255,0.49);
    -moz-box-shadow: 0px 0px 100px 4px rgba(255,255,255,0.49);
}

.btn-animais:hover {
    background-image: url("./imagens/animais-transparente.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-comidas:hover {
    background-image: url("./imagens/comidas-transparente.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-esportes:hover {
    background-image: url("./imagens/esportes-transparente.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-hobbies:hover {
    background-image: url("./imagens/hobbies-transparente.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-profissoes:hover {
    background-image: url("./imagens/profissoes-transparente.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-todas:hover {
    background-image: url("./imagens/todas-transparente.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-adicionar:hover {
    background-color: #c9b532;
    color: #000000;
    font-style: italic;
    transform: scale(1.1);
}

.text-input {
    position: absolute;
    width: 400px;
    height: auto;
    margin: 150px 0 0 450px;
    padding: 5px 30px 2px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    justify-content: baseline;
    color: #5f1437;
    letter-spacing: 1px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    text-transform: uppercase;
}

::placeholder {
    color: #ac753b;
    text-transform:lowercase;
}

.text-input:focus { 
    border: 1px solid #911313;
    outline: none;
}

.avisos {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: auto;
    height: 18px;
    left: 465px;
    bottom: 760px;
}

.input-texto {
    margin-left: 10px;
}

.div-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: absolute;
    width: 740px;
    height: 67px;
    left: 300px;
    top: 520px;
}

.btn-salvar {
    padding: 16px;
    width: 340px;
    height: 62px;
    background: #2f8d71;
    border-radius: 40px;
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    justify-content: center; 
    cursor: pointer;
    transition: 400ms;
}

.btn-tela-inicial {
    padding: 16px;
    width: 340px;
    height: 62px;
    background: #b1da6b;
    border-radius: 40px;
    margin: 0px 24px;
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    justify-content: center; 
    cursor: pointer;
    transition: 400ms;
}

.btn-salvar:hover {
    color: #ffffff;
    box-shadow: 0px 0px 48px 0px rgba(255, 255, 255, 1);
}

.btn-tela-inicial:hover {
    color: #ffffff;
    box-shadow: 0px 0px 48px 0px rgba(255, 255, 255, 1);
}

.teclado {
    display: none;
    flex-direction: column;
    position: relative;
    top: -115px;
    align-items: center;
    margin: 1px;
}

.linha-1, .linha-2, .linha-3 {
    margin: 3px;
}

.teclado button {
    font-size: 18px;
    width: 40px;
    text-transform: uppercase;
    padding: 10px;
    margin: 3px 5px;
    border-radius: 10px;
}

.teclado button:hover {
    background: #c9b532;
    transform: scale(1.1);
}

.novo-jogo {
    display: flex;
    margin-left: 112px;
    margin-bottom: 70px;
}

.btn-novo-jogo {
    display: flex;
    display: inline-block;
    width: 250px;
    height: 55px;
    background: #082d7e;
    border: 1px solid #000000;
    border-radius: 35px;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 400ms;
}

.btn-novo-jogo:hover {
    background-color: #c9b532;
    color: #000000;
    font-style: italic;
    transform: scale(1.1);
}

#div-fim-de-jogo {
    display: flex;
    width: 900px;
    height: 500px;
    color: red;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 400px;
    opacity: 0.5;
}

footer {
    font-family: 'Inter Tight', sans-serif;
    letter-spacing: 3.5px;
    color: white;
    text-align: center;
    background: black;
    padding: 25px 0;
    border-top: 0.4px solid white;
}

footer p {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
}

.links {
    position: relative;
}

.links a {
    display: inline;
    margin: 0 12px 0 12px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    body {
        min-width: 375px;
        min-height: 667px;
    }
    
    #titulo {
        font-size: 60px;
        letter-spacing: 3px;
        width: 100%;
    }
    
    #descricao {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
        margin: 0 20px;
    }
    
    .categorias {
        display: flex;
        flex-direction: column;
        position: static;
        height: 100%;
        margin: 0;
        text-align: center;
    }
    
    .categorias li {
        padding: 20px;
    }
    
    .btn-animais, .btn-comidas, .btn-esportes, .btn-hobbies, .btn-profissoes, .btn-todas {
        width: 310px;
        height: 120px;
        background-size: 100% 100%;
    }
    
    .btn-adicionar {
        width: 70%;
        height: 50px;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 2px;
        line-height: 22px;
        margin-top: 30px;
    }
    
    #forca {
        display: none;
        margin: 10px auto 0;
        width: 90%;
        height: 295px;
    }
    
    .teclado {
        position: static;
        margin: 0px auto;
        width: 90%;
    }
    
    .linha-1, .linha-2, .linha-3 {
        display: flex;
        margin: 1px;
    }
    
    .teclado button {
        font-size: 12px;
        width: 28px;
        padding: 5px;
        margin: 4px 6px;
        border-radius: 8px;
    }
    
    .novo-jogo {
        margin: 50px 0 50px 30px;
    }
    
    .btn-novo-jogo {
        width: 130px;
        height: 25px;
        font-weight: 400;
        font-size: 12px;
    }
    
    .text-input {
        position: static;
        align-items: center;
        width: 270px;
        height: auto;
        margin: 150px 0 0 45px;
        padding: 5px 30px 2px;
        font-weight: 600;
        font-size: 25px;
        line-height: 150%;
        justify-content: baseline;
    }
    
    .avisos {
        position: static;
        width: auto;
        height: 18px;
        margin-top: 10px;
        margin-left: 55px;
        align-items: center;
    }
    
    .input-texto {
        margin-left: 10px;
    }
    
    .div-botoes {
        align-items: center;
        gap: 50px;
        position: static;
        width: auto;
        height: 67px;
        margin-top: 200px;
    }
    
    .btn-salvar {
        padding: 16px;
        width: 340px;
        height: 62px;
        background: #2f8d71;
        border-radius: 40px;
        color: #000000;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        justify-content: center; 
        cursor: pointer;
        transition: 400ms;
    }
    
    .btn-tela-inicial {
        padding: 16px;
        width: 340px;
        height: 62px;
        background: #b1da6b;
        border-radius: 40px;
        margin: 0px 24px;
        color: #000000;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        justify-content: center; 
        cursor: pointer;
        transition: 400ms;
    }
    
    footer {
        letter-spacing: 2px;
    }
    
    footer p {
        font-weight: 400;
    }
}